body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}
/*.container {
  display: block;
  margin: 100px auto 0;
}*/
h1{
  margin:100px;
  padding:10px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*h1{

  margin: 100px auto 0;
}
*/
/*a{
  appearance: button;
  -webkit-appearance: button;
  color: #000;
  text-decoration: none;
}*/
/*.navigation {

  height: 40px;
  text-align: center;
}

.navigation ul {

  list-style: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 300px;
  height: 40px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}
.navigation li a:hover {
  background-color: #ddd;
}

.navigation li a.selected {
  background-color: #ccc;
}*/

/*form {
  margin: 10px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}*/