<div id='groups' class="input-group input-group-lg" class="text-center">
  <h3>Groups:</h3>
  <div>
    <label>Members in Group:</label>
      <input name='dividingNumber' type='number' ng-model='data.count'>
      <button ng-click='grouping()'>Grouping</button>
  </div>
  <div>
    <label>Search: </label>
    <input type='text' name='search' ng-model='user'>
    <ul ng-repeat='pair in data.pairs | filter:user'>
      <li ng-model='pair.username' ng-repeat='user in pair'>
        <div ng-model='user.username'>{{user.username}}</div>
      </li>
    </ul>
  </div>
</div>